.menu__link{
    color: var(--fuente-clara);
    text-decoration: none;
    text-shadow: var(--sombra-resalto);
    transition: .1s ease-in-out;
}
.resaltado{
    color: var(--fuente-resaltada);
}
.menu__link:hover{
    color: var(--fuente-resaltada);
}