.menu{
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    background-color: var(--fondo-verde-semioscuro);
    font-family: var(--merri);
}