.menu__barra::before{
    content: "";
    height: .125rem;
    width: 0%;
    bottom: -0.3125rem;
    position: absolute;
    background: var(--fondo-verde-medio-claro);
    transition: .3s ease width;
    left: 0;
}
a:hover~.menu__barra::before{
    width: 100%;
}