.experiencia__imagen{
    width: 37.5rem;
    border: .3125rem solid var(--fondo-medio);
    border-radius: .625rem;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    transition: .5s ease-in-out;
    margin-right: 2.5rem;
}
.experiencia__imagen:hover{
    transform: scale(1.05);
}