.experiencia__boton{
    width: 5rem;
    font-size: .75rem;
    margin-top: .9375rem;
    background: var(--fondo-medio);
    color: var(--fuente-clara);
    border: none;
    border-radius: .625rem;
    cursor: pointer;
    text-shadow: var(--sombra-resalto);
    padding: .3125rem;
    transition: .5s ease-in-out;
}
.experiencia__boton:hover{
    transform: scale(1.1);
}