.experiencia__origen{
    margin-top: .3125rem;
    font-size: .9375rem;
    color: var(--fuente-resaltada);
    text-shadow: var(--sombra-resalto);
}
@media screen and (max-width: 500px) {
    .experiencia__origen{
        font-size: 1.5rem;
        width: 20rem;
        text-align: center;
    }
}