.experiencia__tecnologiasImagen{
    width: 1.875rem;
    margin-top: .625rem;
    transition: .1s ease-in-out;
}
.experiencia__tecnologiasImagen:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 500px) {
    .experiencia__tecnologiasImagen{
        width: 5rem;
    }
}