.experiencia__proyecto{
    margin-top: .3125rem;
    font-size: .875rem;
    color: var(--fuente-clara);
    text-shadow: var(--sombra-resalto);
}
@media screen and (max-width: 500px) {
    .experiencia__proyecto{
        font-size: 1.5rem;
        text-align: center;
    }
}