.conocimiento__contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 2.5rem 1.875rem 2.5rem;
    background: linear-gradient(180deg, #1f9b6a, #1f6b55, #173f41);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    transition: .1s ease-in-out;
    color: var(--fuente-clara);
}
.conocimiento__contenedor:hover{
    transform: scale(1.1);
    color: var(--fuente-resaltada);
}