.rotapie{
    background-color: var(--fondo-verde-medio);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--fondo-medio);
}
@media screen and (max-width: 500px) {
    .rotapie{
        height: 4rem;
    }
}

/*                        <li class="conoceme__item"><a href="assets/docs/Lorenzo Noe Chavez Cerda.pdf" target="_blank" rel="noreferrer noopener" class="conoceme__link"><img src="assets/icons/descargar.png" alt="Icono de descarga del CV" class="conoceme__icon"> CV</a></li>*/