.rotapie{
    background-color: var(--fondo-verde-medio);
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--fondo-medio);
}
@media screen and (max-width: 500px) {
    .rotapie{
        height: 4rem;
    }
}