.conoceme{
    background: var(--fondo-verde-semioscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18.75rem;
    border-top: 2px solid var(--fondo-medio);
    border-bottom: 2px solid var(--fondo-medio);
}
@media screen and (max-width: 500px) {
    .conoceme{
        height: 30rem;
    }
}
