.conoceme__circulo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.875rem;
    height: 16.875rem;
    background: url(../../images/fondo-circulo.gif);
    border-radius: 100% ;
}