.formacion{
    background-color: var(--fondo-verde-medio);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../images/animated-text-fill.png) ;
    background-size:900%;
	-webkit-animation: aitf 300s linear infinite;
    border-top: 2px solid var(--fondo-medio);
    border-bottom: 2px solid var(--fondo-medio);
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}