.contacto__input{
    width: 15.625rem;
    height: 1.875rem;
    border: none;
    margin-bottom: .625rem;
    background: none;
    color: var(--fuente-clara);
    font-size: .9375rem;
    padding: .9375rem .625rem .0625rem .3125rem;
    display: block;
    border-bottom: .0625rem solid white;
    outline: none;
}
.text__area{
    height: 7.5rem;
    resize: none;
}
form label{
    color: var(--fuente-clara);
    position: absolute;
    top: 1.25rem;
    pointer-events: none;
    transition: 0.5s ease-in-out all;
}

.contacto__input:focus~label{
    top: 0px;
    font-size: .75rem;
    color: var(--fuente-resaltada);
}
.contacto__input:valid~label{
    top: 0rem;
    font-size: .75rem;
    color: var(--fuente-resaltada);
}
.contacto__input--error{
    color: rgb(217, 255, 0);
    display: none;
    position: relative;
    font-size: .625rem;
    margin-bottom: .625rem;
}
.contacto__input--active{
    display: block;
}
.contacto__input--errorLabel{
    top: 0rem;
    font-size: .75rem;
    color: var(--fuente-resaltada);
}