.contacto__barra{
    position: relative;
    display: block;
    width: 100%;
}
.contacto__barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 10px;
    position: absolute;
    background: var(--fondo-verde-medio-claro);
    transition: .3s ease width;
    left: 0;
}
input:focus~.contacto__barra::before{
    width: 100%;
}