.contacto__boton{
    border: none;
    margin: 1.25rem;
    background-color: var(--fondo-semi_oscuro);
    color: var(--fuente-clara);
    text-shadow: var(--sombra-resalto);
    border-radius: .625rem;
    padding: .625rem;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-size: 1.25rem;
}
.contacto__boton:hover{
    transform: scale(1.1);
}
@media screen and (max-width: 500px) {
    .contacto__boton{
        position: absolute;
        top: 92%;
    }
}