.sobre__title{
    font-size: 2.1875rem;
    color: var(--fuente-resaltada);
    text-shadow: var(--sombra-resalto);
}
@media screen and (max-width: 500px) {
    .sobre__title{
        font-size: 3rem;
        margin-bottom: 10px;
    }
}