.sobre{
    width: 100%;
    height: 15.625rem;
    background: url(../../images/animated-text-fill.png) repeat-y;
    background-size: cover;
	-webkit-animation: aitf 200s linear infinite;
    border-bottom: 2px solid var(--fondo-medio);
}

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}